*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(215, 226, 176);
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
td,td{
    padding: 0.5rem 1rem;
}
table{
    width: 100%;
}
.table-small-col{
    width: 5%;
}
.table-medium-col{
    width: 23%;
}
.container{
    width: 70%;
    height: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
h1{
    text-align: center;
    align-self: flex-start;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
}
.btn{
    color: black;
    padding: 10px 20px;
    background-color: rgb(48, 104, 207);
    margin: 1rem 0;
    border-radius: 5%;
    border-width: 0;
    font-size: 14px ;
    /* display: inline; */
}
.btn-green{
    color: white;
    background-color: rgb(35, 117, 35);

}
.btn-green:hover{
    background-color: rgb(32, 56, 32);
}
.btn-red{
    color: white;
    background-color: rgb(168, 29, 29);

}
.btn-red:hover{
    background-color: rgb(54, 10, 12);
}
.btn-blue{
    color: white;
    background-color: rgb(43, 90, 192);

}
.btn-blue:hover{
    background-color: rgb(11, 48, 90);
}
.btn-yellow{
    color: black;
    background-color: rgb(195, 218, 116);

}
.btn-yellow:hover{
    background-color: rgb(113, 131, 49);
}
.btn-light-blue{
    color: black;
    background-color: rgb(53, 182, 199);

}
.btn-light-blue:hover{
    background-color: rgb(42, 109, 121);
}
.to_left{
    align-self: flex-start;
}
.to_right{
    align-self: flex-end;
}
.actions-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.create_form{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.create_form div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 10%;
}
.create_form input[type="text"], textarea{
    width: 80%;
    /* display: block; */
}
input[type="submit"]{
    height: 32px;
    /* width: 80%; */
    margin: 0 2rem;
    /* align-self: ; */
}
